name: PHP Stan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
env:
  DATABASE_URL: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
          
      - name: Install Composer Dependencies
        run: composer install

      - name: Run PHP Stan
        run: vendor/bin/phpstan analyse src --level=10
