name: PHP Stan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Check Symfony Env
        run: echo $APP_ENV
          
      - name: Install Composer Dependencies
        uses: ramsey/composer-install@v1
        with:
          composer-options: "--ignore-platform-reqs"

      - name: Run PHP Stan
        run: vendor/bin/phpstan analyse src --level=10
