name: PHP Stan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
          
      - name: Install Composer Dependencies
        run: composer install --ignore-platform-reqs
        env:
          DATABASE_URL: ${{secrets.DATABASE_URL}}

      - name: Run PHP Stan
        run: composer run-script phpstan
